In [95]:
import numpy
from pandas import read_csv
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from gensim.models import Word2Vec
from gensim.models.keyedvectors import KeyedVectors

# load dataset

In [68]:
emissions = read_csv('../notebooks/content/emmissions.csv')
emissions.head()

,Company Name,Country,Reporting Year,Ticker Symbol,ISIN,Disclosure Score,Performance Band,Parent Account,Permission,Response Status,Scope 1 (metric tonnes CO2e),Scope 2 (metric tonnes CO2e)
0,CSX Corporation,USA,2013,CSX US,US1264081035,95.0,A,NaN,Public,AQ*,5268905.0,300170.0
1,Valero Energy Corporation,USA,2013,VLO US,US91913Y1001,NaN,NaN,NaN,Public,IN,NaN,NaN
2,3M Company,USA,2013,MMM US,US88579Y1010,70.0,D,NaN,Public,AQ*,4540000.0,2230000.0
3,Walgreen Company,USA,2013,WAG US,US9314221097,86.0,C,NaN,Not public,AQ*,NaN,NaN
4,"Prudential Financial, Inc.",USA,2013,PRU US,US7443201022,63.0,C,NaN,Public,AQ*,5090.0,70613.0

In [69]:
columns = ['company', 'country', 'reporting_year', 'symbol', 'isin', 'disclosure_score', 'perfomance_band', 'parent_account', 'permission', 'response_status', 'scope1_co1', 'scope2_co2']
emissions.columns = columns

In [70]:
emissions.head()

,company,country,reporting_year,symbol,isin,disclosure_score,perfomance_band,parent_account,permission,response_status,scope1_co1,scope2_co2
0,CSX Corporation,USA,2013,CSX US,US1264081035,95.0,A,NaN,Public,AQ*,5268905.0,300170.0
1,Valero Energy Corporation,USA,2013,VLO US,US91913Y1001,NaN,NaN,NaN,Public,IN,NaN,NaN
2,3M Company,USA,2013,MMM US,US88579Y1010,70.0,D,NaN,Public,AQ*,4540000.0,2230000.0
3,Walgreen Company,USA,2013,WAG US,US9314221097,86.0,C,NaN,Not public,AQ*,NaN,NaN
4,"Prudential Financial, Inc.",USA,2013,PRU US,US7443201022,63.0,C,NaN,Public,AQ*,5090.0,70613.0

In [71]:
emissions.isnull().sum(axis = 0)

company               0
country               0
reporting_year        0
symbol                0
isin                  5
disclosure_score     36
perfomance_band      42
parent_account      178
permission           22
response_status       0
scope1_co1           48
scope2_co2           51
dtype: int64

In [75]:
emissions = emissions[['company','reporting_year', 'symbol', 'disclosure_score', 'scope1_co1', 'scope2_co2']]

In [76]:
emissions.fillna(value={'disclosure_score': 0.0, 'scope1_co1': 0.0, 'scope2_co2': 0.0}, inplace=True)

In [77]:
emissions.isnull().sum(axis = 0)

company             0
reporting_year      0
symbol              0
disclosure_score    0
scope1_co1          0
scope2_co2          0
dtype: int64

In [82]:
emissions.head()

,company,reporting_year,symbol,disclosure_score,scope1_co1,scope2_co2
0,CSX Corporation,2013,CSX US,95.0,5268905.0,300170.0
1,Valero Energy Corporation,2013,VLO US,0.0,0.0,0.0
2,3M Company,2013,MMM US,70.0,4540000.0,2230000.0
3,Walgreen Company,2013,WAG US,86.0,0.0,0.0
4,"Prudential Financial, Inc.",2013,PRU US,63.0,5090.0,70613.0

In [84]:
emissions['symbol'] = emissions['symbol'].map(lambda x:x.rstrip('US'))

In [93]:
emissions.head()

,company,reporting_year,symbol,disclosure_score,scope1_co1,scope2_co2
0,CSX Corporation,2013,CSX,95.0,5268905.0,300170.0
1,Valero Energy Corporation,2013,VLO,0.0,0.0,0.0
2,3M Company,2013,MMM,70.0,4540000.0,2230000.0
3,Walgreen Company,2013,WAG,86.0,0.0,0.0
4,"Prudential Financial, Inc.",2013,PRU,63.0,5090.0,70613.0

In [99]:
binary_vectors = 'stoack2vec_Keyed_Binary.bin'
text_vectors = 'stoack2vec_Keyed_Text.vec'

model = KeyedVectors.load_word2vec_format(text_vectors, binary=False)
word_dict = {}
embeddings = []
symbols = []
for word in model.vocab:
    word_dict[word] = model[word]
    #embeddings.append(model2[word])
    symbols.append(word)
for key in word_dict:
    embeddings.append(word_dict[key])
#embeddings
len(word_dict)

505

In [117]:
stock_symbols = symbols
emissions_symbols = emissions['symbol'].tolist()

In [126]:
flag = 0
if(all(symbol in stock_symbols for symbol in emissions_symbols)): 
    flag = 1
# printing result 
if (flag) : 
    print ("Yes, list is subset of other.") 
else : 
    print ("No, list is not subset of other.")

No, list is not subset of other.